<div class="user-container">
    <div class="user-data">
        <div class="user-img">
      <%= image_tag("Tom.png", width:'150px', height:'170px') %>
    </div>
      <h2><%= @user.name%></h2>
      <p>Number of posts: <%= @user.post_ids.count %></p>
    </div>
  </div>

<% @posts.each do |post| %>
  <div class="user-container">
    <div class="post-data">
     <%= link_to "#{post.title}", user_post_path(@user.id, post.id), class:"post-title" %> 
     <h3><%= post.text%></h3>
      <p>Number of comments: <%= post.author.comment_ids.count %> <span>Number of likes: <%= post.likes_counter %></span></p>
    </div>
  </div>
  <div class="comments">
    <% post.recent_comments.each do |comment| %>
       <h2><%= comment.author.name%>: <%= comment.text%></h2>
    <%end%>
  </div>
<%end%>
<div class="button-div">
  <button class="button">
    Pagination
  </button>

</div>
